body{
	margin:0px; 
	padding:0px;
	font-family: Google Sans;
	color:#FFFFFF;
}
#photoname{
	font-size:52; 
	font-weight:bold;
	opacity:1.0;
}

#introduction{
	font-size:18;
	width:300;
	opacity:0.8;
}